*, :after, :before {
    box-sizing: border-box
}

[flex] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

[flex][flex-wrap] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

[flex][layout=row] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

[flex][layout=row][role=group] > * {
    display: inline-block;
    margin: auto 0
}

[flex][layout=row][role=group] > :nth-child(2n) {
    margin-right: 1pc
}

[flex][layout=row][role=group] > :nth-child(2n+1) {
    margin-right: 8px
}

[flex][layout=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

[flex] [flex-item] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

[flex] [flex-align=start], [flex] [flex-align] {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

[flex] [flex-align=end] {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.toolbar {
    background-color: #36F;
    color: #FFF;
    position: fixed
}

.toolbar a {
    color: inherit;
    text-decoration: none
}

.toolbar .btn.btn__icon {
    background-color: transparent
}

.btn {
    display: inline-block;
    position: relative
}

.btn.btn__icon {
    background-color: #F44336;
    border-radius: 50%;
    color: #FFF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.btn.btn__icon[disabled] {
    color: rgba(0, 0, 0, .26);
    cursor: not-allowed
}

.btn .icon {
    margin: auto
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

body, html {
    margin: 0;
    padding: 0
}

main {
    margin-top: 4pc;
    padding: 1pc
}

#addLayerWrapper {
    background-color: transparent;
    position: fixed;
    z-index: 1
}

[flex][layout=row] > [sm="33"], [flex][layout=row] > [sm="34"] {
    max-width: 33.33%
}

[flex][layout=row] > [sm="50"] {
    max-width: 50%
}

[flex][layout=row] > [sm="100"] {
    max-width: 100%
}

[flex][layout=column] > [sm="33"], [flex][layout=column] > [sm="34"] {
    max-height: 33.33%
}

[flex][layout=column] > [sm="50"] {
    max-height: 50%
}

[flex][layout=column] > [sm="100"] {
    max-height: 100%
}

[flex] [sm="33"], [flex] [sm="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%
}

[flex] [sm="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

[flex] [sm="100"] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.toolbar {
    height: 76px;
    left: 0;
    padding: 0 1pc;
    top: 0;
    width: 100%
}

.toolbar h3 {
    font-size: 24px;
    line-height: 1;
    margin: auto 0;
    padding: 0
}

.btn.btn__icon {
    height: 76px;
    min-width: 4pc
}

.btn.btn__icon.btn__icon__small {
    height: 3pc;
    min-width: 3pc
}

.icon {
    font-size: 2pc
}

form .element {
    font-size: 24px;
    line-height: 1.25;
    padding: 0
}

form .element .custom-select {
    margin: 0
}

form .element label {
    font-family: Mate SC, serif;
    font-size: .8334em;
    font-weight: 400;
    text-transform: lowercase
}

form .element input, form .element select {
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: helvetica, sans-serif;
    font-size: inherit;
    font-weight: 700;
    line-height: inherit;
    padding: 0 0 0 .3334em;
    width: 100%
}

form .element [type=radio] {
    width: auto
}

form .element .ng-dirty.ng-invalid + [ng-messages] {
    color: #A81712;
    font-family: Mate SC, serif;
    font-size: .8334em;
    font-weight: 300;
    text-transform: lowercase
}

#addLayerWrapper {
    right: 54px;
    top: 52px
}

@media (min-width: 600px) {
    [flex][layout=row] > [md="33"], [flex][layout=row] > [md="34"] {
        max-width: 33.33%
    }

    [flex][layout=row] > [md="50"] {
        max-width: 50%
    }

    [flex][layout=row] > [md="100"] {
        max-width: 100%
    }

    [flex][layout=column] > [md="33"], [flex][layout=column] > [md="34"] {
        max-height: 33.33%
    }

    [flex][layout=column] > [md="50"] {
        max-height: 50%
    }

    [flex][layout=column] > [md="100"] {
        max-height: 100%
    }

    [flex] [md="33"], [flex] [md="34"] {
        -webkit-flex: 0 0 33.33%;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%
    }

    [flex] [md="50"] {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    [flex] [md="100"] {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .btn.btn__icon, .toolbar {
        height: 4pc
    }

    .btn.btn__icon.btn__icon__small {
        height: 3pc
    }

    .icon {
        font-size: 2pc
    }

    form .element {
        font-size: 20px;
        padding: 0 1pc 0 0
    }

    #addLayerWrapper {
        top: 40px
    }
}

@media (min-width: 960px) {
    [flex][layout=row] > [lg="33"], [flex][layout=row] > [lg="34"] {
        max-width: 33.33%
    }

    [flex][layout=row] > [lg="50"] {
        max-width: 50%
    }

    [flex][layout=row] > [lg="100"] {
        max-width: 100%
    }

    [flex][layout=column] > [lg="33"], [flex][layout=column] > [lg="34"] {
        max-height: 33.33%
    }

    [flex][layout=column] > [lg="50"] {
        max-height: 50%
    }

    [flex][layout=column] > [lg="100"] {
        max-height: 100%
    }

    [flex] [lg="33"], [flex] [lg="34"] {
        -webkit-flex: 0 0 33.33%;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%
    }

    [flex] [lg="50"] {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    [flex] [lg="100"] {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

@media (min-width: 1200px) {
    [flex][layout=row] > [xl="33"], [flex][layout=row] > [xl="34"] {
        max-width: 33.33%
    }

    [flex][layout=row] > [xl="50"] {
        max-width: 50%
    }

    [flex][layout=row] > [xl="100"] {
        max-width: 100%
    }

    [flex][layout=column] > [xl="33"], [flex][layout=column] > [xl="34"] {
        max-height: 33.33%
    }

    [flex][layout=column] > [xl="50"] {
        max-height: 50%
    }

    [flex][layout=column] > [xl="100"] {
        max-height: 100%
    }

    [flex] [xl="33"], [flex] [xl="34"] {
        -webkit-flex: 0 0 33.33%;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%
    }

    [flex] [xl="50"] {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    [flex] [xl="100"] {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

@media print {
    .no-print {
        display: none
    }
}