<ng-include src="'./partials/toolbar.html'"></ng-include>
<div flex layout="row" flex-wrap>
    <div flex-sm="100">{{print.addressOne}}</div>
    <div flex-sm="100" ng-show="print.addressTwo">{{print.addressTwo}}</div>
    <div flex-sm="100">{{print.city}} {{print.states[print.state].abbreviation}} {{print.zipcode}}</div>
    <div flex-sm="100">{{print.firstName}} {{print.lastName}}</div>
    <div flex-sm="35">{{print.email}}</div>
    <div flex-sm="35">{{print.phoneNum}}</div>
    <div flex-sm="15">{{print.payment}}</div>
    <div flex-sm="15" ng-show="print.isPayPal();" Pay-Pal-Icon></div>
    <div flex-sm="100" flex layout="row" flex-wrap ng-repeat="layer in print.layers">
        <div flex-sm="100">Layer {{$index + 1}}:</div>
        <div flex-sm="100" flex layout="row" flex-wrap ng-repeat="element in print.elements">
            <div flex-sm="25" offset-sm="15">{{print[element][layer[element]].name}}</div>
            <div flex-sm="10" class="text-right">{{print[element][layer[element]].display}}</div>
            <div flex-sm="50">&nbsp;</div>
            <div flex-sm="20" offset-sm="20" ng-show="print[element][layer[element]].name=='Other'">{{layer[element +
                'Other']}}
            </div>
        </div>
    </div>
    <div flex-sm="40"><strong>Total:</strong></div>
    <div flex-sm="10" class="text-right">{{print.total | currency}}</div>
    <div flex-sm="50">&nbsp;</div>
</div>