<div class="toolbar" flex layout="row">
    <h3 class="toolbar__headline">
        <a href="/home" title="Home"> <span>Cakes by Ranelle Order Form</span> </a>
    </h3>
    <span flex-item></span> <a class="btn btn__icon no-print" flex-align="end" aria-label="Email"
                               href="mailto:ranelle@cakesbyranelle.com" title="Email about any question."> <i
        class="icon material-icons">email</i> </a> <a class="btn btn__icon no-print" flex-align="end" aria-label="Print"
                                                      href="/print" ng-disabled="orderForm.$invalid"> <i
        class="icon material-icons">print</i> </a>
</div>
