*, *:before, *:after {
  box-sizing: border-box;
}

[flex] {
  display: flex;
  &[flex-wrap] {
    flex-wrap: wrap;
  }
  &[layout="row"] {
    flex-direction: row;
    &[role="group"] {
      > * {
        display: inline-block;
        margin: auto 0;
        &:nth-child(2n) {
          margin-right: 16px;
        }
        &:nth-child(2n+1) {
          margin-right: 8px;
        }
      }
    }
  }
  &[layout="column"] {
    flex-direction: column;
  }
  [flex-item] {
    flex: 1;
  }
  [flex-align],
  [flex-align="start"] {
    align-self: flex-start;
  }
  [flex-align="end"] {
    align-self: flex-end;
  }
}

.toolbar {
  background-color: @toolbar__background;
  color: @toolbar__color;
  height: 64px;
  left: 0;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  h3 {
    font-size: 24px;
    line-height: 64px;
    margin: 0;
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .btn {
    &.btn__icon {
      background-color: transparent;
    }
  }
}

.btn {
  display: inline-block;
  position: relative;
  &.btn__icon {
    background-color: @button__background;
    border-radius: 50%;
    color: @button__color;
    display: flex;
    height: 64px;
    width: 64px;
    &.btn__icon__small {
      height: 48px;
      width: 48px;
    }
    &[disabled] {
      color: @toolbar__disabled;
      cursor: not-allowed;
    }
  }
  .icon {
    margin: auto;
  }
}

.icon {
  font-size: 32px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 64px;
  padding: 16px;
}

#addLayerWrapper {
  background-color: transparent;
  position: fixed;
  right: 54px;
  top: 40px;
  z-index: 10;
}