md-toolbar{
  left: 0;
  position: fixed;
  top: 0;
}
#main{
    margin: 64px 0 0;
}
#addLayerWrapper{
  position: fixed;
  right: 40px;
  top: 30px;
}
md-input-container{
  .md-char-counter{
      bottom: 3px;
      right: 4px;
  }
  md-select {
    padding-bottom: 0;
    .md-select-label {
      min-width: 100%;
    }
  }
}
[value="PayPal"]{
    margin-top: -5px;
}
[value="PayPal"] .md-label{
    margin-top: 0;
}
