md-grid-tile#state md-input-container{
    margin-top: 16px;
}
md-grid-tile#state md-input-container md-select-label {
    min-width: 100%;
}
md-grid-list md-grid-tile{
    overflow: hidden;
}
md-input-container .md-char-counter{
    bottom: 3px;
    right: 4px;
}
[value="PayPal"]{
    margin-top: -5px;
}
[value="PayPal"] .md-label{
    margin-top: 0;
}
